! Xft.dpi: 144
! transparency - true or false (default)
URxvt*.transparent: false

! allows proper compositor transparency handling
!URxvt.depth: 32

! scrollback buffer lines - 65535 is max on most machines (64 is default)
URxvt*.saveLines: 12000

! URxvt*.font: xft:Terminus:antialias=false:pixelsize=9
!URxvt*.font: xft:Terminus:antialias=false:pixelsize=12
!URxvt*.font: -*-terminus-medium-r-*-*-20-*-*-*-*-*-iso8859-*
! URxvt*.boldFont:
URxvt*.font: xft:Inconsolata:pixelsize=20

! scrollbar - true (default) or false
URxvt*.scrollBar: true

URxvt*.scrollBar_right: true
! scrollbar style - rxvt (default), plain, next, or xterm
URxvt*.scrollstyle: plain

! scroll to bottom when key is pressed
URxvt*.scrollTtyKeypress: true

URxvt*.perl-ext-common: default,selection-to-clipboard

! do not scroll with output
URxvt*scrollTtyOutput: false

! Black
URxvt*.color0:      #1c1c1c
URxvt*.color8:      #545054

! Red
URxvt*.color1:      #FF3333
URxvt*.color9:      #e5786d

! Green
URxvt*.color2:      #00a800
URxvt*.color10:     #50fc50

! Yellow
URxvt*.color3:      #ffad33
URxvt*.color11:     #f8fc50

! Blue
URxvt*.color4:      #3363a1
URxvt*.color12:     #77a7e5

! Magneta
URxvt*.color5:      #a800a8
URxvt*.color13:     #f854f8

! Cyan
URxvt*.color6:      #00a8a8
URxvt*.color14:     #50fcf8

! White
URxvt*.color7:      #9c998e
URxvt*.color15:     #f8fcf8

URxvt*.foreground:  #e3e0d7
URxvt*.background:  #1c1c1c

! Rofi
rofi.font: terminus 18
rofi.padding: 3
rofi.lines: 7
rofi.borderwidth: 1
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #1c1c1c,  #e3e0d7,  #1c1c1c,  #1c1c1c,  #50fcf8
rofi.color-urgent: #1c1c1c,  #e3e0d7,  #1c1c1c,  #1c1c1c,  #50fcf8
rofi.color-active: #1c1c1c,  #e3e0d7,  #1c1c1c,  #1c1c1c,  #50fcf8
!                  'background', 'border'
rofi.color-window: #1c1c1c,      #586e75

! vim: et sw=2 syn=xdefaults
